<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Prices</title>
    <link rel="stylesheet" href="public/style.csss">
  </head>
  <body>
    <main>
      <input id="stock-1-input" type="text">
      <input id="stock-2-input" type="text">
      <input id="like-input" type="checkbox" value="like"> 
      <button id="submit-btn" type="button">Check / compare stock(s)</button>
      <div id="results-container">
      </div>
    </main>
    <script src="public/script.js">
    </script>
  </body>
</html>